.hello {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.category-list {
  padding: 20px;
  font-family: Arial, sans-serif;

  h1 {
    color: #333;
  }

  h2 {
    color: #666;
    margin-bottom: 20px;
  }
}

.add-category-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.OderAdmin table thead,
tbody {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    width: 0% !important;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}
table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.edit-btn {
  background-color: #007bff;
  color: white;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;

    &.active {
      background-color: #007bff;
      color: white;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.order-filters {
  button {
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 6px;

    a {
      // Thêm quy tắc này
      text-decoration: none;
      color: inherit; // Để thẻ <a> kế thừa màu từ button
    }
  }
  .selected {
    background-color: #edc0c0; /* Màu xanh dương */
  }
}

//modal

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */

  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal form {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.modal h2 {
  margin-top: 0;
}

.modal label {
  display: block;
  margin-top: 10px;
}

.modal input[type="text"],
.modal textarea,
.modal select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal button[type="submit"],
.modal button[type="button"] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modal button[type="button"] {
  background-color: #f44336;
  margin-right: 10px;
}

.modal button[type="submit"]:hover,
.modal button[type="button"]:hover {
  opacity: 0.8;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}
