.wishlist-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  section {
    margin-bottom: 40px;
  }
  .wishlist_liked {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    .move-all {
      padding: 5px 10px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-decoration: none;
      color: #000;
    }
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

  .product-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    position: relative;
    button {
      border: none;
      color: red;
    }

    img {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
      object-fit: cover;
    }

    .discount {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: red;
      color: white;
      padding: 5px 10px;
      border-radius: 4px;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .price {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;

      .current-price {
        font-weight: bold;
      }

      .original-price {
        text-decoration: line-through;
        color: #888;
      }
    }

    .add-to-cart {
      width: 100%;
      padding: 10px;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  .rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .wishlist_forU {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    .see-all {
      padding: 5px 10px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-decoration: none;
      color: #000;
    }
  }
}
