.orders {
  padding: 20px;
  background-color: #f9f9f9;

  h2 {
    margin-bottom: 20px;
    color: #333;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    thead {
      tr {
        background-color: #f1f1f1;

        th {
          padding: 10px;
          text-align: left;
          border-bottom: 2px solid #ddd;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f9f9f9;
        }

        &:hover {
          background-color: #f1f1f1;
        }

        td {
          padding: 10px;
          border-bottom: 1px solid #ddd;

          select {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
          }

          button {
            padding: 5px 10px;
            background-color: #ff0000;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
              background-color: #b30000;
            }
          }
        }
      }
    }
  }
}

.order-details {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-details h3 {
  margin-top: 0;
  font-size: 1.5em;
  color: #333;
}

.order-details p {
  margin: 10px 0;
  font-size: 1em;
  color: #555;
}

.order-details button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
}

.order-details button:hover {
  background-color: #b30000;
}
.order-details-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.order-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
